*{background-color: #F5F3C1}
h1{color:#0B2447; background-color:#A5D7E8 ; text-align: center;} 
h2{color: #19376D; background-color: #BACDDB; text-align: center;}
h3{color: #576CBC;}
h4{color: #B2A4FF;;}
.contact {text-align: center;}
